<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  	http://www.springframework.org/schema/beans/spring-beans.xsd 
  	http://www.springframework.org/schema/context/ 
  	http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- REST TEMPLATE CONFIGURATION -->
	<bean class="org.springframework.http.client.SimpleClientHttpRequestFactory" id="simpleClientHttpRequestFactory">
		<property name="connectTimeout" value="3000" />
		<property name="readTimeout" value="2000" />
	</bean>
	<bean class="org.springframework.web.client.RestTemplate" id="restTemplate">
		<constructor-arg ref="simpleClientHttpRequestFactory"/>
	</bean>
	<!-- ****** -->
	<!-- CONSUMO - TIEMPO - MAPEO -->
	<bean id="tiempo" class="com.entelgy.payload.service.Tiempo"/>
	<bean id="consumo" class="com.entelgy.payload.service.Consumo">
		<property name="ruta" value="${ruta}" />
		<property name="restTemplate" ref="restTemplate" />
	</bean>

	<bean id="mapeo" class="com.entelgy.payload.service.Mapeo">
		<property name="consumo" ref="consumo" />
		<property name="tiempo" ref="tiempo" />
	</bean>
	<!-- ********* -->

</beans> 